:local(.styles) {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  background-color: #005678;
  color: white;
  position: absolute;
  width: 100%;
  bottom: "0";
  font-family: "AvenirNext-UltraLight";
}

a:link, a:visited {
  color: white;
  text-align: center;
  text-decoration: none;
}

a:hover, a:active {
  color: #ff577d;
  text-align: center;
  text-decoration: none;
}
