/* global styles */
@import 'fonts/avenir';
@import 'typography';
@import 'links';

:global(body) {
  position: relative;
  font-family: "Avenir" !important;
  h1, h2, h3, h4 {
    font-weight: 550;
  }

}
